body{
    background-color: #edecea!important;
    background-image: none;
}
.main_content{
    height: auto;
    position: relative;
    min-height: 800px;
    width: 980px;
    margin-top: 15px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px #DCDCDC;
    margin: 0px auto;
}
.profile_header{
    padding: 10px;
}
.profile_header>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ddd;
    float: left;
}.profile_header_content{
     padding: 5px 0px 8px 0px;
     color: #686868;
     position: relative;
     margin-left: 165px;
 }
 .profile_edit{
     float: right;
     position: absolute;
     top: 0px;
     right: 0px;
     box-shadow: 0px 1px 1px 0px #eee;
     border-radius: 2px;
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
     background-color: #fcfcfc;
     background-image: -webkit-linear-gradient(top, #fafafa, #ffffff)
     display: inline-block;
     line-height: 28px;
     text-align: center;
     border: 1px solid #DaDaDa;
     text-decoration: none;
     padding: 0px 5px !important;
     color: #000;
     font-size: 11px;

 }
 .profile_name{
     color: #222;
     font-size: 25px;
 }
 .profile_description{
     margin-top: 12px;
     height: 34px;
     overflow: hidden;
     font-size: 13px;
 }
 .profile_department{
     font-size: 13px;
 }

.profile_contact{
    font-size: 13px;
    margin-top: 12px;
}
.profile-head {
    float: left;
    width: 160px;
    height: 4px;
}
.long{
    width: 170px;
}
.blue{
    background:#34b1e5;
}
.orange {
    background: #e5a034;
}
.green {
    background: #84c366;
}
.profile_bar{
    border-bottom: 1px solid #e0e0e0;
    height: 40px;
    background: #fafafa;
    padding: 0px 20px;
    margin-top: 20px;
}
.profile_bar>a{
    background: #fff;
    border-top: 2px solid rgba(39, 174, 91, .6);
    border-bottom: 1px solid #fff;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    height: 39px;
    float: left;
    line-height: 40px;
    min-width: 100px;
    text-align: center;
    padding: 0px 15px;

    text-decoration: none;
    color: #666;
    position: relative;
}
/******************************************************************/
.profile_dp_list{
    width: auto;
    display: block;
    padding: 0px;
    min-height: 700px;
    padding-bottom: 70px;
    margin-left: 20px;
}
.profile_dp_item{
    border-bottom: 1px solid #EBEBEB;
    padding: 15px 0px 5px 0px;
    position: relative;
    margin: 0px;
}
.profile_dp_item>img{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    float: left;
}
.dp_content{
    margin-left: 70px;
}
.dp_content>a{
    text-decoration: none;
    color: #4183C4;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.dp_content>span{
    margin-left: 5px;
    color: #999;
    font-size: 13px;
}
.dp_content>p{
    margin-top: 9px;
    font-size: 14px;
}
.dp_btns{
    float: right;
    right: 20px;
    position: relative;
    width: 200px;
}
.dp_btns>a{
    text-decoration: none;
    display: inline;
    font-size: 13px;
    width: 50px;
    height: 16px;
    color: #888;
    margin: 0px 10px 10px 20px;

}
.dp_btns>i{
    margin-right: 10px;
}
.thumb_on{
    background-position: -28px -176px;

}
.dp_comments{

    margin: 10px 70px 20px 70px;
    border-radius: 3px;
    border: 1px solid #EDEDED;
    border-bottom: 0px;
    background-color: #F9F9F9;
    display: block;
    padding: 10px 5px 10px 5px;
}
.comments_input{
    display: block;
    width: 98%;
    line-height: 18px;
    min-height: 18px;
    overflow: visible;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    padding: 5px 5px;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 13px;
    color: #2b2b2b;
}
.comment_post{
    margin-top: 5px;
    line-height: 29px;
    border: 0px;
    padding: 0px 10px;
    text-align: center;
    background-color: #2EB5E5;
    text-decoration: none !important;
    background-image: -webkit-linear-gradient(top, #34C0E9, #29AAE1);
    color: white;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    min-width: 50px;
    border-radius: 3px;

}
.comments_list{
    border-top:1px solid #EDEDED;;
    margin: 5px 0px;

}
.comments_item{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #EDEDED;
    padding: 5px 10px;
    position: relative;
}
.comments_item>img{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    float: left;
}
.comments_item_content{
    margin-left: 50px;
}
.comment_author{
    text-decoration: none;
    color: #4183C4;
    cursor: pointer;
    font-size: 13px;
}
.comment_content{
    display: inline;
    width: 50%;
    color: #4d4d62;
    font-size: 13px;
}
.comment_date{
    display: block;
    color: #aaaaaa;
    margin: 5px 0px;
    font-size: 13px;
}
/******************************************************************/