body{
    background-color: #e9e9e7!important;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main_content{
    width: 1000px;
    background: white;
    margin: 60px auto;
    position: relative;
    overflow: hidden;

}

.left_content{
    float: left;
    width: 200px;
    min-height: 280px;
    margin: 0px;
    pading: 0px;
    background: #ffffff;
}
.user_title{



}
.user_title img{
    float: left;
    margin: 0 10px 0 0;
    border: 0px;
    border-radius: 2px;
    width: 32px;
    height: 32px;

}
.user_title>a{
    background: #f5f5f5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #CCC;
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    border-left: 0 none;
}

.right_content{
    float: left;
    width: 799px;
    position: relative;
    border-left: 1px solid #CCC\9;
    padding-bottom: 20px;
    min-height: 300px;
    box-shadow: -2px 0px 5px rgba(0,0,0,0.2);
}
.setting_menu{
    display: block;
    margin-top: 3px;
}
.setting_menu>li{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 12px;
    border-left: 4px solid transparent;
}
.setting_menu>li:hover{
    background-color: #e5e5e5;
}
.setting_active{

    border-left: 4px solid rgb(39, 174, 91) !important;
    background: #e5e5e5;
    font-weight: bold;
}
.setting_menu a{
    display: block;
    outline: none;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
.content_header{
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #CCC;
    color: #222;
    margin: 0px 20px;
    font-weight: normal;
    font-size: 23px;
    line-height: 32px;
}
.module{
    padding: 20px 0px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0px 20px;
    display: block;

}
.module>img{
    vertical-align: bottom;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
}
.module1_a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #4183C4;
    font-size: 13px;
}
.module p{
    width: 100%;
    color: #888;
    font-size: 13px;
    background-color: #fff;
    padding: 2px 4px;
    line-height: 14px;
}
.module input{
    width: 360px;
    border: 1px solid #D9D9D9;

    padding: 5px 5px;

    background-color: #FFFFFF;
    border-radius: 2px;
}
.module input:hover{
    border: 1px solid #B8B8B8;
    border-top: 1px solid #A1A1A1;
}
.save_profile{
    line-height: 29px;
    border: 0px;
    padding: 0px 10px;
    text-align: center;
    background-color: rgba(39, 174, 91, .6);
    text-decoration: none !important;
    background-image: -moz-linear-gradient(top, rgba(39, 174, 91, .5), rgba(39, 174, 91, .6));
    background-image: -webkit-linear-gradient(top, rgba(39, 174, 91, .5), rgba(39, 174, 91, .6));
    background-image: -o-linear-gradient(top, rgba(39, 174, 91, .5), rgba(39, 174, 91, .6));
    background-image: -ms-linear-gradient(top, rgba(39, 174, 91, .5), rgba(39, 174, 91, .6));
    background-image: linear-gradient(top, rgba(39, 174, 91, .5), rgba(39, 174, 91, .6));
    color: white;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    min-width: 50px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    display: block;
    margin: 20px 0px 10px 20px;
    width: 100px;
    font-size: 13px;
}